{{#each messages}}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}

<div class="page-header">
    <h1>Felvitt hozzávalók</h1>
</div>

{{ingredients-list ingredients=model}}

<p>{{link-to "Új hozzávaló felvitele" "ingredients.list.new" class="btn btn-default"}}</p>

{{outlet}}